---
layout: default
title: Writing
permalink: /writing/
---

<div class="writing">
  <h1>Writing</h1>

        <p>A personal weblog in 2025 is both shouting at clouds, and a statement of intent. This site is to catalogue my interest in research, interaction design, and personal thought bubbles that need to get popped somewhere or other.</p>

<!-- Filter buttons -->
<div class="filters">
  <button class="filter-button active" data-category="all">All</button>
  {% for category in site.categories %}
    <button class="filter-button" data-category="{{ category[0] }}">
      {{ category[0] }}
    </button>
  {% endfor %}
</div>

<!-- Post grid -->

<section class="grid-listing">
  {% for post in site.posts %}
    <article class="card post" data-categories="{{ post.categories | join: ',' }}">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <subtitle>{{ post.date | date: "%B %d, %Y"}}</subtitle>
      <p>{{ post.excerpt }}</p>
    </article>
  {% endfor %}
</section>

</div>
